.input {
  padding: 5px 15px;
  width: 300px;
}

.user-list {
  margin-top: 30px;
}

.user {
  list-style: none;
  margin: 10px 0;
  padding: 10px;
  background: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-id {
  color: #101010;
  margin-right: 20px;
}

.user-name {
  color: #000000;
}

.user-members {
  margin-left: auto;
  color: #808080;
}
